[Unit]
After=sys-subsystem-net-devices-{{ vxlan_iface_prefix }}\x2d%i.device

[Service]
Type=oneshot
ExecStart=/usr/sbin/batctl ra {{ batman_version }}
ExecStart=/sbin/ip link set {{ vxlan_iface_prefix }}-%i up
ExecStart=/bin/sh /usr/bin/wait-for-iface {{ vxlan_iface_prefix }}-%i unknown_is_fine
ExecStart=/usr/sbin/batctl meshif bat%I if add {{ vxlan_iface_prefix }}-%i
ExecStart=/sbin/ip link set bat%I    up
ExecStart=/usr/sbin/batctl meshif bat%I gw server 1024mbit/1024mbit


[Install]
WantedBy=sys-subsystem-net-devices-{{ vxlan_iface_prefix }}\x2d%i.device
