[NetDev]
Name={{ vxlan_iface_prefix }}-{{ '%02d' % domain.id | int }}-server
Kind=vxlan
MACAddress=02:a1:71:05:02:20

[VXLAN]
Id=1000{{ '%02d' % domain.id | int }}
#VNI=2293484
DestinationPort=84{{ '%02d' % domain.id | int }}
UDP6ZeroChecksumRx=true
UDP6ZeroChecksumTx=true
Remote=remote_vxlan_supernode
Local=local_vxlan_supernode
