[Match]
Name={{ interface.name }}

[Network]
{% if interface.addresses is defined %}
{% for addr in interface.addresses %}
Address={{ addr }}
{% endfor %}
{% endif %}
{% if interface.gateway4 is defined %}
Gateway={{ interface.gateway4 }}
{% endif %}
{% if interface.gateway6 is defined %}
Gateway={{ interface.gateway6 }}
{% endif %}
{% if interface.dns_server is defined %}
{% for dns_server in interface.dns_server %}
DNS={{ dns_server }}
{% endfor %}
{% endif %}
Domains={{ dns_searchdomains | default('.local') }}
{% if interface.dhcp is defined and interface.dhcp %}
DHCP=ipv4
{% endif %}
{% if interface.no_radv_accept is defined and interface.no_radv_accept %}
IPv6AcceptRouterAdvertisements=false
{% endif %}
{% if networkd_vlans is defined %}
{% for vlan in networkd_vlans %}
{% if vlan.iface == interface.name %}
VLAN=vlan{{ vlan.id }}
{% endif %}
{% endfor %}
{% endif %}
{% if 'supernodes' in group_names %}
{% for domain in domains | default( [] ) %}
VXLAN=vx-{{ domain.id }}-server
{% endfor %}
{% endif %}
{% if interface.dhcp is defined and interface.dhcp %}
[DHCPv4]
UseDNS=true
UseDomains=false
{% endif %}
{% if interface.macaddress is defined %}
[Link]
MACAddress={{ interface.macaddress }}
{% endif %}
{% for route in interface.static_routes | default([]) %}
[Route]
{% if route.gw is defined %}
Gateway={{ route.gw }}
{% endif %}
Destination={{ route.destination }}
{% if route.src is defined %}
Source={{ route.src }}
{% endif %}
{% if route.metric is defined %}
Metric={{ route.metric }}
{% endif %}
{% if route.table is defined %}
Table={{ route.table }}
{% endif %}
{% if route.pref_src is defined %}
PreferredSource={{ route.pref_src }}
{% endif %}
{% for mpr in route.multipathroutes | default([]) %}
MultiPathRoute={{ mpr }}
{% endfor %}

{% endfor %}

{% for policy_rule in interface.routing_policies | default([]) %}
[RoutingPolicyRule]
From={{ policy_rule.from }}
Table={{ policy_rule.table }}

{% endfor %}
