{
  "fallback": "wg-20",
  "segments": {
    "wg-20": {
      "priority": 0,
      "allowed_gateways": [
        "02:a2:ff:ac:01:20",
        "02:a2:ff:ac:02:20",
        "02:a2:ff:ac:03:20",
        "02:a1:ff:ac:01:20",
        "02:a1:ff:ac:02:20",
        "02:a1:ff:ac:03:20"
      ]
    },
    "wg-11": {
      "priority": 1,
      "allowed_gateways": [
        "02:a2:ff:ac:01:11",
        "02:a2:ff:ac:02:11",
        "02:a2:ff:ac:03:11",
        "02:a1:ff:ac:01:11",
        "02:a1:ff:ac:02:11",
        "02:a1:ff:ac:03:11"
      ]
    },
    "wg-12": {
      "priority": 2,
      "allowed_gateways": [
        "02:a2:ff:ac:01:12",
        "02:a2:ff:ac:02:12",
        "02:a2:ff:ac:03:12",
        "02:a1:ff:ac:01:12",
        "02:a1:ff:ac:02:12",
        "02:a1:ff:ac:03:12"
      ]
    },
    "wg-13": {
      "priority": 3,
      "allowed_gateways": [
        "02:a2:ff:ac:01:13",
        "02:a2:ff:ac:02:13",
        "02:a2:ff:ac:03:13",
        "02:a1:ff:ac:01:13",
        "02:a1:ff:ac:02:13",
        "02:a1:ff:ac:03:13"
      ]
    },
    "wg-14": {
      "priority": 4,
      "allowed_gateways": [
        "02:a2:ff:ac:01:14",
        "02:a2:ff:ac:02:14",
        "02:a2:ff:ac:03:14",
        "02:a1:ff:ac:01:14",
        "02:a1:ff:ac:02:14",
        "02:a1:ff:ac:03:14"
      ]
    },
    "wg-15": {
      "priority": 5,
      "allowed_gateways": [
        "02:a2:ff:ac:01:15",
        "02:a2:ff:ac:02:15",
        "02:a2:ff:ac:03:15",
        "02:a1:ff:ac:01:15",
        "02:a1:ff:ac:02:15",
        "02:a1:ff:ac:03:15"
      ]
    },
    "wg-16": {
      "priority": 6,
      "allowed_gateways": [
        "02:a2:ff:ac:01:16",
        "02:a2:ff:ac:02:16",
        "02:a2:ff:ac:03:16",
        "02:a1:ff:ac:01:16",
        "02:a1:ff:ac:02:16",
        "02:a1:ff:ac:03:16"
      ]
    },
    "wg-17": {
      "priority": 7,
      "allowed_gateways": [
        "02:a2:ff:ac:01:17",
        "02:a2:ff:ac:02:17",
        "02:a2:ff:ac:03:17",
        "02:a1:ff:ac:01:17",
        "02:a1:ff:ac:02:17",
        "02:a1:ff:ac:03:17"
      ]
    },
    "wg-18": {
      "priority": 8,
      "allowed_gateways": [
        "02:a2:ff:ac:01:18",
        "02:a2:ff:ac:02:18",
        "02:a2:ff:ac:03:18",
        "02:a1:ff:ac:01:18",
        "02:a1:ff:ac:02:18",
        "02:a1:ff:ac:03:18"
      ]
    },
    "wg-19": {
      "priority": 9,
      "allowed_gateways": [
        "02:a2:ff:ac:01:19",
        "02:a2:ff:ac:02:19",
        "02:a2:ff:ac:03:19",
        "02:a1:ff:ac:01:19",
        "02:a1:ff:ac:02:19",
        "02:a1:ff:ac:03:19"
      ]
    }
  },
  "slack-webhook-url-file": "/root/.slack-webhook-url"
}