{
  "fallback": {
    "iface_name": "bat20",
    "priority": 0,
    "allowed_gateways": [
      "02:a2:ff:ac:01:20",
      "02:a2:ff:ac:02:20",
      "02:a2:ff:ac:03:20",
      "02:a1:ff:ac:01:20",
      "02:a1:ff:ac:02:20",
      "02:a1:ff:ac:03:20"
    ]
  },
  "segments": {
    "bat11": {
      "priority": 1,
      "allowed_gateways": [
        "02:a2:ff:ac:01:11",
        "02:a2:ff:ac:02:11",
        "02:a2:ff:ac:03:11",
        "02:a1:ff:ac:01:11",
        "02:a1:ff:ac:02:11",
        "02:a1:ff:ac:03:11"
      ]
    },
    "bat12": {
      "priority": 1,
      "allowed_gateways": [
        "02:a2:ff:ac:01:12",
        "02:a2:ff:ac:02:12",
        "02:a2:ff:ac:03:12",
        "02:a1:ff:ac:01:12",
        "02:a1:ff:ac:02:12",
        "02:a1:ff:ac:03:12"
      ]
    },
    "bat13": {
      "priority": 1,
      "allowed_gateways": [
        "02:a2:ff:ac:01:13",
        "02:a2:ff:ac:02:13",
        "02:a2:ff:ac:03:13",
        "02:a1:ff:ac:01:13",
        "02:a1:ff:ac:02:13",
        "02:a1:ff:ac:03:13"
      ]
    },
    "bat14": {
      "priority": 1,
      "allowed_gateways": [
        "02:a2:ff:ac:01:14",
        "02:a2:ff:ac:02:14",
        "02:a2:ff:ac:03:14",
        "02:a1:ff:ac:01:14",
        "02:a1:ff:ac:02:14",
        "02:a1:ff:ac:03:14"
      ]
    },
    "bat15": {
      "priority": 1,
      "allowed_gateways": [
        "02:a2:ff:ac:01:15",
        "02:a2:ff:ac:02:15",
        "02:a2:ff:ac:03:15",
        "02:a1:ff:ac:01:15",
        "02:a1:ff:ac:02:15",
        "02:a1:ff:ac:03:15"
      ]
    },
    "bat16": {
      "priority": 1,
      "allowed_gateways": [
        "02:a2:ff:ac:01:16",
        "02:a2:ff:ac:02:16",
        "02:a2:ff:ac:03:16",
        "02:a1:ff:ac:01:16",
        "02:a1:ff:ac:02:16",
        "02:a1:ff:ac:03:16"
      ]
    },
    "bat17": {
      "priority": 1,
      "allowed_gateways": [
        "02:a2:ff:ac:01:17",
        "02:a2:ff:ac:02:17",
        "02:a2:ff:ac:03:17",
        "02:a1:ff:ac:01:17",
        "02:a1:ff:ac:02:17",
        "02:a1:ff:ac:03:17"
      ]
    },
    "bat18": {
      "priority": 1,
      "allowed_gateways": [
        "02:a2:ff:ac:01:18",
        "02:a2:ff:ac:02:18",
        "02:a2:ff:ac:03:18",
        "02:a1:ff:ac:01:18",
        "02:a1:ff:ac:02:18",
        "02:a1:ff:ac:03:18"
      ]
    },
    "bat19": {
      "priority": 1,
      "allowed_gateways": [
        "02:a2:ff:ac:01:19",
        "02:a2:ff:ac:02:19",
        "02:a2:ff:ac:03:19",
        "02:a1:ff:ac:01:19",
        "02:a1:ff:ac:02:19",
        "02:a1:ff:ac:03:19"
      ]
    }
  },
  "slack-webhook-url-file": "/root/.slack-webhook-url"
}