{% for peer in bird.peerings %}
protocol {{ peer.protocol }} {{ peer.name }} {% if peer.templates %}{% for template in peer.templates %}from {{ template }} {
    description "{{ peer.description }}";
    neighbor {{ peer.neighbor }} as {{ peer.remote_as }};
    source address {{ peer.source_address }};
};
{% endfor %}
