[Unit]
Description=yanic

[Service]
Type=simple
User={{ yanic_user }}
ExecStart=/home/{{ yanic_user }}/go/bin/yanic serve --config /etc/yanic.conf
Restart=always
RestartSec=5s
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
Requires=network-online.target
