{% for domain in domains | default( [] ) %}
interface bat{{ domain.id }}
{
 AdvSendAdvert on;
{% if radv_announce_default | default(False) %}
 AdvDefaultLifetime 300;
{% else %}
 AdvDefaultLifetime 0;
{% endif %}
 MaxRtrAdvInterval 60;
 AdvLinkMTU 1280;
 AdvRASolicitedUnicast on;
 AdvSourceLLAddress off;

 prefix {{ mesh_prefix }}:{% if radv_sn_ipv6 %}{{sn}}{% else %}1{% endif %}{{ domain.id }}::/64 {
   AdvValidLifetime 600;
   AdvPreferredLifetime 30;
   AdvOnLink on;
   AdvAutonomous on;
   AdvRouterAddr on;
 };
 route {{ mesh_prefix }}:{% if radv_sn_ipv6 %}{{sn}}{% else %}1{% endif %}{{ domain.id }}::{{ "%x" | format(sn) }}001/128 {};
 RDNSS {{ client_dns_server_v6 }} {};
 DNSSL {{dhcp_domain_name}} {};
};

{% endfor %}
