{
    "dataPath": [
      "{{ yanic_url }}"
    ],
    "siteName": "{{ freifunk_site }}",
    "maxAge": 21,
    "nodeZoom": 19,
    "mapLayers": [
      {
        "name": "OpenStreetMap",
        "url": "https://tiles.aachen.freifunk.net/{z}/{x}/{y}.png",
        "config": {
          "type": "osm",
          "maxZoom": 19,
          "attribution": "<a href='https://github.com/ffrgb/meshviewer/issues' target='_blank'>Report Bug</a> | Map data &copy; <a href\"http://openstreetmap.org\">OpenStreetMap</a> contributor",
          "start": 10
        }
      },
    {
      "name": "EsriWorldImagery",
      "url": "https://tiles.aachen.freifunk.net/EsriWorldImagery/{z}/{y}/{x}.png",
      "config": {
        "maxZoom": 19,
        "start": 30,
        "mode": "night",
        "attribution": "<a href=\"http://arcgis.com/\" target=\"_blank\">&copy; ArcGIS-Satellite</a> <a href=\"http://arcgis.com/about/\" target=\"_blank\">&copy; ArcGIS</a>"
      }
    }
    ],
    "fixedCenter": [
      [
        50.91,
        5.9393
      ],
      [
        50.7282,
        6.2164
      ]
    ],
    "siteNames": [
      { "site": "Segment01", "name": "{{ freifunk_site }}" } ,
      { "site": "site_default", "name": "Default" }
    ],
    "domainNames": [
      {
        "domain": "Segment01",
        "name": "{{ freifunk_site }}"
      },
      {
        "domain": "Segment02",
        "name": "{{ freifunk_site }}"
      }
    ],
    "icon": {
      "base":{
        "fillOpacity":0.8,
        "opacity":0.8,
        "weight":2,
        "radius":6,
        "className":"stroke-first"
      },
      "online":{
        "fillOpacity":1,
        "opacity":1,
        "color":"#1566A9",
        "fillColor":"#5DA439"
      },
      "offline":{
        "color":"#D43E2A",
        "fillColor":"#D43E2A",
        "radius":3
      },
      "lost":{
        "color":"#D43E2A",
        "fillColor":"#D43E2A",
        "radius":4
      },
      "alert":{
        "color":"#D43E2A",
        "fillColor":"#D43E2A",
        "radius":5
      },
      "new":{
        "fillOpacity":1,
        "opacity":0.5,
        "color":"#1566A9",
        "fillColor":"#93E929"
      }
    },
    "nodeInfos": [
      {
        "name": "Clientstatistik",
        "href": "{{ grafana_url }}/d/000000002/node?refresh=1m&orgId=1&var-node={NODE_ID}",
        "image": "{{ grafana_url }}/render/d-solo/000000002/node?panelId=1&var-node={NODE_ID}&from=now-7d&width=650&height=350&theme=light&_t={TIME}",
        "title": "Knoten {NODE_ID} - weitere Statistiken"
      },
      {
        "name": "Trafficstatistik",
        "href": "{{ grafana_url }}/d/0100000002/node?refresh=1m&orgId=1&var-node={NODE_ID}",
        "image": "{{ grafana_url }}/render/d-solo/000000002/node?panelId=2&var-node={NODE_ID}&from=now-7d&width=650&height=350&theme=light&_t={TIME}",
        "title": "Knoten {NODE_ID} - weitere Statistiken"
      },
      {
        "name": "Airtime",
        "href": "{{ grafana_url }}/d/000000002/node?refresh=1m&orgId=1&var-node={NODE_ID}",
        "image": "{{ grafana_url }}/render/d-solo/000000002/node?panelId=5&var-node={NODE_ID}&from=now-7d&width=650&height=350&theme=light&_t={TIME}",
        "title": "Knoten {NODE_ID} - weitere Statistiken"
      },
      {
        "name": "Traffic Volume",
        "href": "{{ grafana_url }}/d/000000002/node?refresh=1m&orgId=1&var-node={NODE_ID}",
        "image": "{{ grafana_url }}/render/d-solo/000000002/node?panelId=15&var-node={NODE_ID}&from=now-7d&width=650&height=350&theme=light&_t={TIME}",
        "title": "Knoten {NODE_ID} - weitere Statistiken"
      }
    ],
    "linkInfos": [
      {
        "name": "Statistik für alle Links zwischen diese Knoten",
        "href": "{{ grafana_url }}/d/000000002/node?refresh=1m&orgId=1&var-node={SOURCE_ID}&var-nodetolink={TARGET_ID}",
        "image": "{{ grafana_url }}/render/d-solo/000000002/node?panelId=7&var-node={SOURCE_ID}&var-nodetolink={TARGET_ID}&from=now-7d&&width=650&height=350&theme=light&_t={TIME}",
        "title": "Linkstatistik des letzten Tages, min und max aller Links zwischen diesen Knoten"
      }
    ],
    "globalInfos": [
      {
        "name": "Wochenstatistik",
        "href": "{{ grafana_url }}/d/000000001/globals?orgId=1&refresh=15m",
        "image": "{{ grafana_url }}/render/d-solo/000000001/globals?panelId=2&from=now-7d&to=now&width=600&height=300&theme=light&_t={TIME}",
        "title": "Bild der Wochenstatistik"
      }
    ],
    "hwImg": [
    { "thumbnail": "https://map.eulenfunk.de/nodes/{MODELHASH}.svg",
      "caption": "Knoten {MODELHASH}"
    }
    ],
    "geo": {{ meshviewer_geo }},

    "deprecation_text": "{{ deprecation_text }}",
    "deprecation_enabled": {% if deprecation_text != "" %}true{% else %}false{% endif %}
  }
