[NetDev]
Name={{ item.netdev }}
Kind=gre
MTUBytes={{ item.mtu_bytes }}

[Tunnel]
Local={{ item.local_address }}
Remote={{ item.remote_address }}
{% if item.independent is defined and item.independent %}
Independent=true
{% endif %}
{% if item.ttl is defined %}
TTL={{ item.ttl }}
{% endif %}