[Unit]
Description=Set NAT Masquerade in iptables
After=network-online.target

[Service]
Type=oneshot
ExecStart=iptables -A POSTROUTING -o {{ item.1.iface }} -j MASQUERADE -t nat
ExecStart=ip6tables -t nat -A POSTROUTING -s {{ item.1.ipv6_address }}  -o {{ item.1.iface }} -j MASQUERADE

[Install]
WantedBy=multi-user.target